<img src='{{beer.image_url}}' alt='{{beer.name}}' />

<h5>{{beer.name}}</h5>

<p>{{beer.description}}</p>

<small>{{beer.tagline}}</small>

<small>{{beer.brewers_tips}}</small>

<small>{{beer.food_paring}}</small>